@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    @* Required *@
    <MudThemeProvider />
    <MudPopoverProvider />

    <main>
        @Body
    </main>
</div>
