@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer 

<h3>Contact Form</h3>

<EditForm Model="contact" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="message">Message:</label>
        <InputTextArea id="message" @bind-Value="contact.Message" />
        <ValidationMessage For="@(() => contact.Message)" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@if (isSubmitted)
{
    <p>Your message has been submitted successfully!</p>
}

@code {
    private Contact contact;

    protected override void OnInitialized()
    {
        contact = new Contact();

    }
    private bool isSubmitted;

    private class Contact
    {
        [Required (ErrorMessage = "husk at indtast")]

        public string Message { get; set; }
    }

    private void HandleValidSubmit()
    {
        isSubmitted = true;
        Console.WriteLine("");
    }
    
}
