@rendermode InteractiveServer
@if (Inheritance.GetTestators().Any())
{
    <h2>FamilyTree:</h2>
    <h3>Testators:</h3>
    @foreach (var testator in Inheritance.GetTestators())
    {
        <div class="d-flex">
            <p class="border border-dark border-1 rounded-3" style="width: 280px;">Name: @testator.Name</p>
            @foreach (var asset in testator.GetAssets()) 
            {
                <p class="border border-dark border-1 rounded-3" style="width: 100px;">Asset: @asset.Name </p>
            }
        </div>
    }

    <h3>Heirs:</h3>
    @foreach (var heir in Inheritance.GetHeirs())
    {
        <p class="border border-dark border-1 rounded-3" style="width: 280px;">Name: @heir.Name</p>
    }

    <button class="btn btn-primary" @onclick="() => { if (Inheritance.GetTestators().Length < 2) testatorModal.Open(SubmitTestator); }">Tiløj ny testator</button>
    <button class="btn btn-primary" @onclick="() => personModal.Open(SubmitHeir)">Tiløj ny arving</button>
    <button class="btn btn-primary" @onclick="() => assetModal.Open(SubmitAsset)">Tilføj ny asset</button>
}

<PersonModal @ref="personModal" />
<TestatorModal @ref="testatorModal" />
<AssetModal @ref="assetModal" />

@code {
    private Testator? editTestator { get; set; }
    private Person? editHeir { get; set; }
    private Asset? editAsset { get; set; }

    private PersonModal personModal = new();
    private TestatorModal testatorModal = new();
    private AssetModal assetModal = new();

    protected override void OnAfterRender(bool firstRender)
    {
        // Opens pop-up for adding testator if none are present is checked each render-cycle
        if (!Inheritance.GetTestators().Any()) testatorModal.Open(SubmitTestator);
        base.OnAfterRender(firstRender);
    }

    protected override void OnInitialized()
    {
        editTestator = new();
        editHeir = new();
        editAsset = new();
        base.OnInitialized();
    }

    private void SubmitTestator(Testator testator)
    {
        Inheritance.AddTestator(testator);
        InvokeAsync(StateHasChanged);
    }

    private void SubmitHeir(Person heir)
    {
        Inheritance.AddHeir(heir);
        InvokeAsync(StateHasChanged);
    }

    private void SubmitAsset(Asset asset)
    {
        Inheritance.AddAsset(asset);
        InvokeAsync(StateHasChanged);
    }

}
