@page "/export"
@using Testament_App.Services
@inject PDFService PdfService
@inject IJSRuntime JSRuntime


@rendermode InteractiveServer

<h3>Family Tree Report</h3>

<!-- Button to trigger PDF generation and download -->
<button @onclick="GenerateAndDownloadPdf" class="btn button">
    Generate PDF
</button>

@code {
    private async Task GenerateAndDownloadPdf()
    {
        // Generate PDF
        var pdfBytes = PdfService.GeneratePdf();

        // Trigger the download of the generated PDF file
        var fileName = "Arvefordeleren.pdf";
        await DownloadFile(pdfBytes, fileName);
    }

    private async Task DownloadFile(byte[] fileBytes, string fileName)
    {
        // Use JavaScript Interop to trigger the file download
        await JSRuntime.InvokeVoidAsync("downloadFile", fileBytes, fileName);
    }
}
