@page "/overview"

<PageTitle>Overview</PageTitle>

<h1>Velkommen til Visualisering</h1>

<ExportComponent />

<div id="overview-content">
    @* Pie-Chart *@
    <div id="pie" class="container p-3 border border-dark border-1 rounded-3">
    </div>

    <FamilyTreeComponent />
</div>
