@page "/overview"

<PageTitle>Overview</PageTitle>

<h1>Velkommen til Visualisering</h1>

<ExportComponent />
<div class="container p-3 border border-dark border-1 rounded-3">
    <FamilyTreeComponent />
</div>

