@page "/overview"

<PageTitle>Overview</PageTitle>

<h1>Velkommen til Visualisering</h1>


<div class="container">
    <div class="row">
        <div class="col p-3 bg-light border border-dark border-1 rounded-3" style="background-color: lightgrey;">
            <PieChartComponent/>
        </div>
        <div class="col p-3 bg-light border border-dark border-1 rounded-3" style="background-color: lightgrey;">
            <FamilyTreeComponent/>
        </div>
    </div>
</div>


