@page "/overview"

<PageTitle>Overview</PageTitle>

<h1>Velkommen til Visualisering</h1>

<div class="container p-3 bg-light border border-dark border-1 rounded-3" style="background-color: lightgrey;">
    <FamilyTreeComponent/>
</div>

