html, body {
    height: 100vh;
    font-family: "Quicksand", "Montserrat", "Raleway", sans-serif;
    color: var(--white);
    --white: #ffffff;
    --button-blue: #0074d9;
    --button-blue-hover: #0056a3;
    --secondary-bg: #333333;
    --family-tree-node-0: #993333;
    --family-tree-node-1: #E29E31;
    --family-tree-node-2: #37718E;
    --family-tree-node-3: #748E54;
    --family-tree-node-4: #392F5A;
}

body {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

    body::before {
        content: '';
        position: fixed;
        background: rgba(0, 26, 51, 0.85); /* Blue tint with 30% opacity */
        height: 100%;
        width: 100%;
    }

h1, h2, h3, h4 {
    font-family: "Merriweather", "Playfair Display", serif
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-blue);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--button-blue-hover);
}

.button-cancel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #565656;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

    .button-cancel:hover {
        background-color: var(--button-blue-hover);
    }

h1:focus {
    outline: none;
}

/* ---------------------------- Styling for home page ---------------------------- */

#frontpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em 10em;
}

    #frontpage h1 {
        font-size: 3rem; /* Large font for title */
        margin-bottom: 20px;
    }

.description {
    font-size: 1.25rem;
    line-height: 1.6; /* Better readability */
    margin-bottom: 30px;
}

#buttons-cointainer {
    display: flex;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
    gap: 15px; /* Space between buttons-cointainer */
}

    #buttons-cointainer div, #buttons-cointainer a {
        margin: 0 1em
    }

#input-div, #continue {
    width: 50%;
}

#input-button {
    width: 100%;
}

/* ---------------------------- Overview ---------------------------- */

#overview-content {
    display: flex;
    flex: 1;
    gap: 45px;
}

#export-btn {
    position: absolute;
    right: 5em;
}

.container {
    background-color: var(--secondary-bg);
    max-width: none !important;
}

#pie {
    width: 40%;
}

/* ---------------------------- Modal ---------------------------- */

.modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5); /* Backdrop effect */
}


.modal-content {
    background-color: var(--secondary-bg);
}

/* ---------------------------- Family Tree ---------------------------- */

#familyTree {
    position: relative;
    margin: 20px auto;
    width: 100%;
    min-height: 500px;
    opacity: 99.9;
}

div.node {
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: #339;
    color: #efefef;
    font-family: sans-serif;
    font-size: 0.7em;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

div.connector {
    position: absolute;
    background-color: #333;
    z-index: -10;
}

    div.connector.h {
        height: 2px;
        background-color: #ddd;
    }

    div.connector.v {
        height: 1px;
        background-color: #66d;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }

div[data-level='0'] {
    background-color: var(--family-tree-node-0);
}

div[data-level='1'], div[data-level='-1'] {
    background-color: var(--family-tree-node-1);
}

div[data-level='2'], div[data-level='-2'] {
    background-color: var(--family-tree-node-2);
}